<!DOCTYPE html>
<html lang="en">
    <head>

        <title>{{ page.title }}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="icon" href="/blog/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/blog/favicon.ico" type="image/x-icon">

        <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">
        <link href="{{ site.baseurl }}/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ site.baseurl }}/css/pygments.css" rel="stylesheet">

        <link href="{{ site.baseurl }}/css/shCore.css" rel="stylesheet">

        <link href="{{ site.baseurl }}/css/base.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

        <link href="{{ site.baseurl}}/atom.xml" rel="alternate" title="Chase Seibert | blog" type="application/atom+xml" />

        <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />

        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="http://chase-seibert.github.com{{ site.baseurl }}{{ page.url }}"/>
        <meta property="og:site_name" content="{{ site.default_page_title }}"/>
        <meta property="fb:admins" content="692280244"/>
        <meta property="og:description" content="Facts, hacks and attacks from my life as a web application developer" />

    </head>
    <body>

        <div class="container-fluid">

            <div class="row">

                <div class="span2">
                </div>

                <div class="span8 content">
                    {% if page.title != site.default_page_title %}
                        <h1>
                            {{ page.title }}
                            {% if page.date %}
                                <span class="post-date subtitle">{{ page.date|date_to_string }}</span>
                            {% endif %}
                        </h1>
                    {% endif %}
                    {{ content }}
                </div>

                <div class="span2">

                    <h2 class="title"><a href="{{ site.baseurl }}/index.html">Chase Seibert</a></h2>
                    <p class="sub-title">
                        Facts, hacks and attacks from my life as a web application developer
                    </p>

                    <a href="http://stackexchange.com/users/4942/chase-seibert" class="stackoverflow"><img src="http://stackexchange.com/users/flair/4942.png" width="208" height="58" alt="profile for Chase Seibert on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Chase Seibert on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a>

                    <br><br>

                    {% if page.tags %}
                        <div class="tags">
                            <h4>Tags</h4>
                            <ul>
                                {% for tag in page.tags %}
                                    <li>
                                        <a href="/blog/tag/{{ tag l}}">{{ tag }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if site.related_posts %}
                        <div id="related">
                            <h4>Related Posts</h4>
                            <ul class="posts">
                                {% for post in site.related_posts limit:3 %}
                                    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="socials">
                        <h4>Social Links</h4>
                        <ul>
                            <li><a href="https://www.linkedin.com/in/chaseseibert">LinkedIn</a></li>
                            <li><a href="https://www.facebook.com/chase.seibert">Facebook</a></li>
                            <li><a href="https://twitter.com/chase_seibert">Twitter</a></li>
                            <li><a href="https://dl.dropbox.com/u/422013/resume.pdf">Resume</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ site.baseurl }}/js/bootstrap.js"></script>
        <script src="{{ site.baseurl }}/js/shCore.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushBash.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushCpp.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushCSharp.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushCss.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushJava.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushJScript.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushPhp.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushPython.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushSql.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushRuby.js"></script>
        <script src="{{ site.baseurl }}/js/shBrushXml.js"></script>

        <script type="text/javascript">
            dp.SyntaxHighlighter.BloggerMode();
            dp.SyntaxHighlighter.HighlightAll("code");
        </script>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-34759164-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

        </script>
    </body>
</html>
