---
layout: default
---

{{ content }}

<br>

<hr>

<p>
    I'm currently working at <a href='http://www.nerdwallet.com'>NerdWallet</a>, a startup in San Francisco trying to bring clarity to all of life's financial decisions. We're <a href='http://grnh.se/yv3m2c'>hiring like crazy</a>. Hit me up on Twitter, I would love to talk.
</p>

Follow <a href='https://twitter.com/chase_seibert'>@chase_seibert</a> on Twitter

{% comment %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'chaseseibertblog';
    var disqus_identifier = '/blog{{ page.id }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endcomment %}
